<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Trip Planner: Your Personalized Travel Guide</title>
  </head>
  <body>
    <!-- Form -->
    <h1>Plan Your Journey: Select Destination & Dates</h1>
    <form onsubmit="return Client.submitForm(event)">
      <div>
        <label for="city">City</label>
        <input type="text" name="city" id="city" />
        <div id="city-error" style="color: red"></div>
      </div>
      <div>
        <label for="start-date">Departure Date</label>
        <input type="date" name="date" id="date" />
        <div id="date-error" style="color: red"></div>
      </div>
      <div class="form-buttons">
        <button type="submit">Submit Trip</button>
        <button type="button" onclick="return Client.displayTrip()">Display Trip</button>
        <button type="button" onclick="return Client.deleteTrip()">Delete Trip</button>
      </div>
    </form>
    <!-- Trip Info -->
    <section class="card" id="results">
      <div id="weather-card">
        <img src="" alt="City image" id="city-picture" />
        <h3 id="city-name"></h3>
        <div id="trip-length"></div>
        <div id="weather"></div>
        <div id="temp"></div>
      </div>
    </section>
  </body>
</html>
