<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel App</title>
  </head>
  <body>
    <!-- Form -->
    <h1>Travel App: Select City & Date</h1>
 <!-- Form for submitting city and departure date -->
 <form onsubmit="return Client.handleFormSubmission(event)">
  <div>
    <label for="city">City</label>
    <input type="text" name="city" id="city" /> <!-- Input field for city name -->
    <div id="city-error" style="color: orange"></div> <!-- Error message for city input -->
  </div>
  <div>
    <label for="start-date">Departure Date</label>
    <input type="date" name="date" id="date" /> <!-- Input field for departure date -->
    <div id="date-error" style="color: orange"></div> <!-- Error message for date input -->
  </div>
  <div class="form-buttons">
    <!-- Buttons for form actions -->
    <button type="submit">Submit Journey</button> <!-- Submits the form and triggers data fetch -->
    <button type="button" onclick="return Client.printJourneyDetails()">Display Journey</button> <!-- Displays the journey details -->
    <button type="button" onclick="return Client.clearJourneyData()">Delete Journey</button> <!-- Clears the journey data -->
  </div>
</form>

    <!-- Journey Info -->
    <section class="card" id="Journey-data">
      <!-- Container for journey information -->
      <div id="weather-card">
        <img src="" class="city-image" id="city-picture" /> <!-- Image of the city -->
        <h3 class="city-name"></h3> <!-- Name of the city -->
        <div id="Journey-duration"></div> <!-- Information on journey duration -->
        <div class="weather-info"></div> <!-- Weather information -->
        <div class="temperature"></div> <!-- Temperature information -->
        <div class="max-temp"></div> <!-- Maximum temperature -->
        <div class="min-temp"></div> <!-- Minimum temperature -->
      </div>
    </section>
  </body>
</html>
