<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Travel App</title>
  </head>
  <body>
    <!-- Form -->
    <h1>Travel App: Select City & Date</h1>
    <form onsubmit="return Client.handleFormSubmission(event)">
      <div>
        <label for="city">City</label>
        <input type="text" name="city" id="city" />
        <div id="city-error" style="color: orange"></div>
      </div>
      <div>
        <label for="start-date">Departure Date</label>
        <input type="date" name="date" id="date" />
        <div id="date-error" style="color: orange"></div>
      </div>
      <div class="form-buttons">
        <button type="submit">Submit Journey</button>
        <button type="button" onclick="return Client.printJourneyDetails()">Display Journey</button>
        <button type="button" onclick="return Client.clearJourneyData()">Delete Journey</button>
      </div>
    </form>

    <!-- Journey Info -->
    <section class="card" id="Journey-data">
      <div id="weather-card">
        <img src="" class="city-image" id="city-picture" />
        <h3 class="city-name"></h3>
        <div id="Journey-duration"></div>
        <div class="weather-info"></div>
        <div class="temperature"></div>
        <div class="max-temp"></div>
        <div class="min-temp"></div>
      </div>
    </section>
  </body>
</html>
